<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ch.swissproductions.canora">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme.Blue">

        <activity android:name="ch.swissproductions.canora.MainActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Blue"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="ch.swissproductions.canora.SettingsActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Blue"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <service android:name="ch.swissproductions.canora.MusicPlayerService"/>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

</manifest>
